

<div class="contain">
  <div class="row" >
    <div class="col-md-2"  style="max-height:70%" >
      <img src="/assets/images/profile.jpg" class="img-fluid"  alt="hello photo">

    </div>
    <div class="col-md-7 text-center bg-secondary">
      <h2>ARHALAI TAOUFIK</h2>
      <h3>Full Stack Developer JavaEE / Angular</h3>
    </div>
    <div class="col-md-3 bg-secondary">
      <p><i class="bi bi-phone-fill">&nbsp;0758361838</i></p>
      <p><i class="bi bi-geo-alt-fill">&nbsp;4 rue du capitaine ferber Lille -France</i></p>
      <p><i class="bi bi-envelope-fill">&nbsp;arhalaitaoufik1@gmail.com</i></p>
    </div>
  </div>
  <div class="row h-85" >
   <div class="col-md-2 border-right border-primary" >
    <app-introduction></app-introduction>
   </div>
   <div class="col-md-10">
    <app-experience></app-experience>
   </div>

  </div>  
</div>

