p {
  font-family: Lato;
}

.avatar {
  border: 1px dotted blue;
  background-image: url("/assets/images/profile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
